.Btn {
    background-color: cyan;
    padding: 10px;
    border: 1px solid rgb(27, 213, 213);
    border-radius: 4px;
    font-weight: 500;
    height: 44px;
    display: inline-block;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn:hover {
    opacity: 0.8;   
    cursor: pointer;
}

.Btn:active {
    opacity: 0.9;
}