
* {
    font-family: 'Raleway', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 100;
}